@import "imports";
@import "reset";

// fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$regular-weight: 300;

// colors
$bg-color: hsla(48, 92%, 48%, 1);
$light-font-color: #FFF;
$dark-font-color: #444;

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $bg-color;
	font-family: $font-stack;
	font-weight: $regular-weight;
	color: $light-font-color;
    line-height: 1.5;
    font-weight: 300;
}

* {
	box-sizing: border-box;
}

#app {
    height: 100%;
    > div {
        min-height: 100%;
        width: 100%;
    }
}
