.visibleSm, .visibleMd, .visibleXs {
    display: none;
}

.hiddenLg {
    display: none;
}

@media (max-width: 991px) {
    .hiddenMd {
        display: none;
    }

    .collapseMd {
        flex-direction: column;

        > div {
            margin-left: 0 !important;
            margin-top: 2em !important;
            width: 100% !important;
        }
    }

    .visibleMd {
        display: flex;
    }
}

@media (max-width: 767px) {
    .hiddenSm {
        display: none;
    }

    .collapseSm {
        flex-direction: column;

        > div {
            margin-left: 0 !important;
            margin-top: 2em !important;
            width: 100% !important;
        }
    }

    .visibleSm {
        display: flex;
    }
}

@media (max-width: 575px) {
    .hiddenXs {
        display: none;
    }

    .collapseXs {
        flex-direction: column;

        > div {
            margin-left: 0 !important;
            margin-top: 2em !important;
            width: 100% !important;
        }
    }


    .visibleXs {
        display: flex;
    }
}
