.footerCurve {
    width: 100%;
    height: auto;
}

.footer {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1.25em;
    font-weight: normal;
    justify-content: space-between;
}

.footer > div {
    flex-grow: 0;
}
